.login-box,
.register-box.App {
  text-align: center;
}

.login-box {

  width: 500px
}

a {
  text-decoration: none;
}

.login-box-msg {
  margin: 0;
  font-size: 25px;
  padding: 0 20px 35px;
  text-align: center;
  font-weight: 600;
  color: black;
  font-family: sans-serif;
}

.login-card-body {
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.sidebar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.sidebar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
  background-color: rgb(0, 36, 70);
  color: white;
  font-weight: 400;
}

.pm_disabled {
  color: #d2322d;
}

.pm_enabled {
  color: #47A447;
}

.rdt_TableCol_Sortable div {
  font-size: 15px;
}

.sc-iveFHk div {
  font-size: 20px;
  margin-bottom: 15px;
}

.brand-link .brand-image {
  float: inherit;
  line-height: initial;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3px;
  max-height: initial;
  width: auto;
  box-shadow: none !important;
  height: 70px;
  border-radius: initial;
}

.dropdown-menu-lg {
  max-width: 180px;
  min-width: 180px;
  padding: 0;
}

.input-signin {
  height: 45px;
}

.button-sign {
  padding: 10px;
  background: #184370;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}

.button-sign:hover {
  background-color: #747677;
  border-color: #747677;
  /* color: black; */
}

input.form-control.input-signin {
  font-size: 15px;
  padding: 10px;
}

.botton-add-website {
  margin: 15px;
  border: none;
  color: white;
  background: #184370;
  padding: 10px;
  font-size: 18px;
  border-color: none;
}

.login-api-page {
  height: 100%;
  padding: 49px;
}

.label-text {
  margin-right: 18px;
  color: black;
  font-weight: 500 !important;
}

.login-card {
  box-shadow: 0 0 4px 0 rgb(124 122 122);
}

.title-add-website {
  font-size: 21px;
  color: black;
}

.top-hover-add {
  padding-top: 25px;
}

.heading {
  color: #004791;
}

.card-primary:not(.card-outline)>.card-header.heading-block {
  background-color: white;
  color: black;
}

.heading-title {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.box-4 {
  width: 80px;
  height: 20px;
  /* background: rgb(241 241 241); */
  position: relative;
  margin-top: 20px;
}

.box-4 input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
  margin-left: -30px;
}

.box-4 .toogle {
  display: block;
  position: absolute;
  z-index: 998;
  width: 40px;
  height: 100%;
  top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}

.box-4 .toogle:before {
  content: "ON";
  color: #fff;
  background-color: #47A447;
  text-shadow: 1px 1px #000;
  font-family: tahoma;
  font-size: 11px;
  padding: 7px;

}

.box-4 input:checked~.toogle {
  margin-left: 30px;
  animation: button4 1s;
  -webkit-animation: button4 1s;
}

.box-4 input:checked+.toogle:before {
  content: "OFF";
  background-color: #d2322d;

}

li.list-styling {
  list-style: disc;
}

ul.ul-styling {
  margin-left: 2rem;
}

.card-height {
  height: 190px;
}

.page-item.active .page-link {
  background-color: #184370;
  border-color: #184370;
}

.text-table-format {
  text-align: center;
}

.text-table-format th {
  font-weight: bold;
  font-size: 20px;
}

.error {
  color: red;
  font-size: 15px;
}

.success {
  color: green;
  font-size: 15px;
}

.xss {
  background-image: url('javascript:alert("XSS")');
}



a.home-nav.nav-link {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: .5s;
  font-size: 16px;
}

.footer-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.background-home {
  background: #14192D;
}

.navbar-light .navbar-toggler {
  color: rgb(213 213 213);
  border-color: rgb(247 244 244);
}

.box {
  border: 1px solid grey;
  padding: 25px;
  border-radius: 9px;
}

.box1 {
  display: flex;
  flex-direction: column;
  height: 586px;
  width: 300px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
}

.business .title {
  background: rgb(7, 174, 172);
}

.title {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 100px;
}

.img-fluid {
  width: 100%;
}

.amount {
  font-size: 2.8em;
  font-weight: bolder;
}

.detail {
  margin: auto 0 auto 5px;
  width: 70px;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 15px;
  color: #7D7C7C;
}

.description {
  margin: 30px auto;
  font-size: 0.8em;
  color: #7D7C7C;
}

.margin-gap {
  margin-top: 40px;
  margin-bottom: 20px;
}








.text-height {
  line-height: 50px;
  font-size: 40px;
}

.packages {
  margin: 20px;
  width: 350px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  height: 100%;
  background-color: #aaadac;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgb(97 102 100), 0 0px 4px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}



.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button1 {
  padding: 0px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  width: 170px;
  height: 35px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #040136;
  color: white !important;
  box-shadow: 0 0 10px 0 #040136 inset, 0 0 20px 2px #49458b;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #090281;
}

input:focus+.slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img.logo {
  width: 140px;
}

img.aboutimg {
  width: 100%;
}

img.homeimg {
  width: 460px;
}

.height-text {
  font-size: 55px;
  font-weight: 700;
}

.home-content p {
  font-size: 18px;
  font-weight: 400;
}

.slide {
  padding: 10px;
  margin: 10px;

}

.box-shadow {
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: 20px;
  font-weight: 500;
  border-radius: 17px;
  background-color: #ededed;
}

.box-shadow:hover {
  border: 3px solid rgb(4 1 54);

}











/* Landing Css */



.home-bg {
  background-image: url(../public/asset/home-bg.jpg);
  background-size: cover;
  background-position: center
}

.btn_one {
  background-image: -webkit-linear-gradient(to right, #0196E7 0%, #FF00A4 51%, #FF00A4 100%);
  background-image: linear-gradient(to right, #0196E7 0%, #FF00A4 51%, #FF00A4 100%);
  border-radius: 3px;
  background-size: 200% auto;
  border-style: none;
  color: #fff;
  font-weight: 600;
  padding: 14px 33px;
  text-transform: uppercase;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 15px;
}

.btn_one i {
  margin-right: 5px;
}

.btn_one:hover {
  background-position: right center;
  color: #fff;
}

.count_area {
  margin-top: -100px;
  padding-bottom: 80px;
}

.single-project {
  padding: 60px 40px;
  background: #1a2237;
  border-right: 1px solid #14192D;
  position: relative;
}

.single-project h2 {
  font-weight: 700;
  font-size: 50px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.single-project h4 {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
}

a.text-light.nav-link {

  font-size: 24px;
}

.sm_menu_outer .mobile_menu a {
  color: #ffffff;
  display: block;
  padding: 15px 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

a.home-nav.nav-link {
  color: white;
}

a.home-nav.nav-link:hover {
  color: #33cfd1;
}

body {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  background: #14192D;
  overflow-x: hidden;
}


.ab_content {
  margin-bottom: 30px;
  position: relative;
}

.ab_content span {
  background: rgba(24, 254, 245, 0.4);
  padding: 4px 30px;
  border-radius: 30px;
  margin-bottom: 15px;
  color: #fff;
  display: inline-block;
}

.ab_content h2 {
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: 48px;
  font-size: 38px;
}

.abmv {
  margin-bottom: 30px;
  background: #1a2237;
  padding: 25px;
  border-radius: 10px;
}

.abmv span {
  color: #18fef5;
}

.abmv h4 {
  font-weight: 600;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 20px;
}

.abmv p {
  overflow: hidden;
}

.ab_img {
  margin-right: 40px;
}

@media only screen and (max-width:960px) {
  .ab_img {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

.abmv_list {
  margin-bottom: 40px;
}

.abmv_list ul {
  list-style: none;
}

.abmv_list ul li {
  background: #1a2237;
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 2px;
}

.abmv_list ul li img {
  margin-right: 10px;
}

.ai_top {
  margin-top: 60px;
  margin-right: 0;
  margin-left: 40px;
}

@media only screen and (max-width:960px) {
  .ai_top {
    margin-top: 60px;
    margin-right: 0;
    margin-left: 0px;
  }
}

.ai_top p {
  margin-bottom: 40px;
}

/*START FEATURES*/
.feture_bg {
  background: #4AA5F0;
  padding: 30px;
  border-radius: 5px;
  margin-top: -60px;
  position: relative;
}

@media only screen and (max-width:480px) {
  .feture_bg {
    margin-top: 0px;
  }
}

.single_feature {
  padding: 10px;
}

.single_feature h4 {
  color: #1A2037;
  font-weight: 600;
  font-size: 18px;
}

.single_feature h4 img {
  margin-right: 10px;
}

.single_feature p {
  color: #1A2037;
  margin-left: 30px;
}

@media only screen and (max-width:480px) {
  .single_feature {
    margin-bottom: 30px;
  }
}

.btn_two {
  border: 1px solid #18fef5;
  padding: 10px 30px;
  border-radius: 2px;
  background-color: transparent;
  color: #18fef5;
  margin-left: 20px;
  transition: 0.3s;
}

.btn_two:hover {
  background: #18fef5;
  color: #000;
}

@media only screen and (max-width:414px) {
  .btn_two {
    margin-left: 0px;
  }
}

.single_service {
  margin-bottom: 30px;
}

.single_service img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.single_service h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
}

.single_service p {
  margin-bottom: 15px;
}

.single_service a {
  color: #18fef5;
  font-weight: 500;
  font-size: 16px;
}

.ser_btn {
  float: right;
  margin-top: 110px;
}

@media only screen and (max-width:480px) {
  .ser_btn {
    float: none;
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

.section-title span {
  background: rgba(24, 254, 245, 0.4);
  padding: 4px 30px;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
}

.cf_none {
  margin-top: 0px;
}

.single-project2 {
  position: relative;
}

@media only screen and (max-width:768px) {
  .single-project2 {
    margin-bottom: 30px;
  }
}

.single-project2 h2 {
  font-weight: 700;
  font-size: 50px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.single-project2 h2:hover {
  background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: transparent;
}

.single-project2 h4 {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
}

.why-choose {
  padding: 70px 0;
  background-image: url(../public/asset/section-2.jpg);
}

.slick-prev,
.slick-next {
  display: none !important;
}

.section-title h2 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 0;
  position: relative;

}

.testimonial {
  border-left: 2px solid #1a2237;
  padding-left: 40px;
  margin-right: 30px;
}

.testimonial img {
  width: 60px;
  margin-bottom: 20px;
}

.single_team img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.marq_text {
  background: #18fef5;
  color: #000;
  padding: 30px 0;
  font-weight: 600;
  font-size: 20px;
}

.social_profile {
  margin-top: 10px;
}

.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li {
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
}

@media only screen and (max-width:768px) {
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.social_profile ul li a:hover {
  color: #fff;
}

.section-top {
  padding-top: 60px;
  position: relative;
  background: url(../public/asset/section-top.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.f_facebook {
  background: #3B5998;
}

.f_twitter {
  background: #1A90D9;
}

.f_instagram {
  background: #FF5252;
}

.f_linkedin {
  background: #0e76a8;
}

.pricingTable {
  color: #fff;
  border: 1px solid #1a2237;
  text-align: center;
  padding: 0 25px 30px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.pricingTable:before {
  content: "";
  background: #1a2237;
  width: 93%;
  height: 220px;
  border-radius: 20px 0 100% 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pricingTable .pricingTable-header {
  padding: 45px 10px 25px;
  margin: 0 0 15px;
}

.pricingTable .title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.pricingTable .pricing-icon {
  color: #000;
  background: #18fef5;
  font-size: 36px;
  line-height: 90px;
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
}

.pricingTable .pricing-content {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  margin-top: 50px;
}

.pricingTable .pricing-content li {
  text-transform: capitalize;
  margin: 0 0 5px;
  line-height: 30px;
}

.pricingTable .price-value {
  font-weight: 600;
  margin: 0 0 20px;
}

.pricingTable .price-value .amount {
  font-size: 40px;
  line-height: 50px;
  display: inline-block;
}

.pricingTable .price-value .duration {
  font-size: 22px;
  line-height: 35px;
  opacity: 0.7;
}

.pricingTable .pricingTable-order a {
  color: #fff;
  background: #f6463e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 16px 0;
  margin: 0 auto;
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid #f6463e;
  padding: 12px 30px;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
}

.pricingTable .pricingTable-order a:hover {
  border: 2px solid #f6463e;
  background: #fff;
  color: #f6463e;
}

.pricingTable.green:before,
.pricingTable .pricingTable-signup a {
  background: #1a2237;
}

.pricingTable.blue:before,
.pricingTable.blue .pricingTable-signup a {
  background: #1a2237;
}

.input-group-text {
  padding: 0.875rem 0.75rem;
}

.section-button {
  box-shadow: 0 1px 0 0px #cbcbcb;
  padding: 10px;
  padding-right: 85px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #000 !important;
  font-size: 13px;
}

.nav-link .section-button:hover {
  color: #000;
}

.text-center.section-button.active {
  background-image: linear-gradient(to right, #070532, #74799B);
  box-shadow: 0 1px 0 0px #cbcbcb;
  padding: 10px;
  padding-right: 85px;
  font-size: 13px;
  color: white !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: revert-layer;
}

.left-list {
  list-style: none;
}

.ml-40 {
  margin-left: 60px;
}

.box-doc-left {
  background-color: white;
  padding-right: 0;
}

.text-center.section-button.active .vector-icon {
  filter: none;
  width: 20px;
  padding-right: 7px
}

.vector-icon {
  filter: invert(1);
  width: 25px;
  padding-right: 7px
}

.text-center.section-button.vector-icon.active {
  filter: none;
}

.text-head {
  color: #070532;
  font-weight: 600;
}

.text-describe {
  color: #000;
  font-family: system-ui;
  font-weight: 500;
}

.text-describe-head {
  font-size: 20px;
  font-weight: 500;
  color: #0e0d39;
  font-family: sans-serif;
}

.line {
  display: inline-flex;
  align-items: center;
}



/* Landing css End */